<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <is_top translate="label" module="spet_topProductWidget">
            <label>Education</label>
            <sort_order>100</sort_order>
        </is_top>
    </tabs>
    <sections>
        <is_top translate="label" module="spet_topProductWidget">
            <label>Top Product Widget Config</label>
            <tab>is_top</tab>
            <sort_order>920</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <test_group translate="label">
                    <label>Is Top</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <number translate="label">
                            <label>Number of products</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </number>
                    </fields>
                </test_group>
            </groups>
        </is_top>
    </sections>
</config>